body {
	font-family: Roboto;
	background: -webkit-linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%); /* W3C */
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #2980b9;
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

li {
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: #fff;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
	color: #808080;
	text-decoration: line-through;
}
